*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", serif;
}
img{
    width: 100%;
}
#img1{
    width: 100%;
}

.btn-download {
    border: 1px solid #ffa600;
    background-color: #ffa600;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    margin-top: 30px;
    transition-property: translate;
    transition-duration: 2s;
    
   
}
.btn-download:hover {
   transform: translateY(-50%);
   
}
.button{
    text-align: right;
}
 section{

   position: relative;
   background-color: #fff;
   bottom: -200px;

} 
.presentation{
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
}
.intro{
    position: absolute;
   bottom: 100px;
   left: 400px;
   height: 300px;
    width: 540px;
    padding: 0 20px;
    /* margin-top: 200px; */
    text-align: center;
    background: #fff;
}
.intro h1{
    color: #333333;
    font-size: 35px;
    font-family: 'Poppins', cursive;
}
.intro h2{
    color: #FFAD01;
    font-size: 20px;
}
.intro p{
    color: #333333;
    font-size: 16px;
}
#mail{
    font-weight: bold;
}
a{
    text-decoration: none;
}
.res-sociaux{
    font-size: 20px;
    color: #fff;
    
}
.circle-sociaux{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border: 1px solid #887392;
    background-color: #887392;
    text-align: center;
    
}
.circle-sociaux:hover{
    background-color: #ffa600;
    border: 1px solid #ffa600;
}

span{

}
.inside-circle{
    position: relative;
}
.inside-circle h5{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.inside-circle h6{
    position: absolute;
    top: 20px;
}
.container{
    padding: 20px;
}
header{
    background-image: url('bgImage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}
header img{
    width: 100%;
}
.row{
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    padding: 30px 40px 20px;
    background: #FFAD01;
    color: #fff;
    /* margin: 20px; */
    padding: 20px;
}
/* .btn-download{
    background-color: #ffad01;
    color: #ffff;
    border-radius: 4px;
    margin: 30px 0px 0px;
    text-align: right;
    padding: 15px 30px;
    text-decoration: none;
} */
#img1{
    height: 200px;
    width: 200px;
    border-radius: 100px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    top: -100px;
    margin-bottom: -70px;
}

.sec-one{
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 350px;
}
.sec-one p{
    color: #999999;
    font-size: 14px;
}
.part li{
    list-style-type: none;
    color:#999999;
    font-size: 16px;
}
.part li:hover{
    color: #FFAD01;
    cursor: pointer;
}
.part{
    display: flex;
    gap: 10px;  
}
.sec2{
    padding: 0;
    margin: 0;
}
.pictures img{
    width: 40%;
}
.pic2 img{
    width: 20%;
}
#all{
    display: flex;
    color: #FFAD01;
}

.portfolio-container{
    position: relative;
    display: flex;
    justify-content: center;
    gap: 10px;
    overflow: hidden;
    padding: 50px;
}
#port6{
    height: 700px;
    width: 500px;
}
#port1{
    width: 100%;
    top: 0px;
    left: 0px;
}
#port1 img{
width: 510px;
}
#port2 {
width: 510px;
}
#port3{
    width: 500px;
    height: 340px;
}
#port8{
    width: 100%;
    top: 0px;
    left: 0px;
}
#port8 img{
    width: 250px;
}
#port9{
    width: 100%;
    top: 0px;
    left: 0px;   
}
#port9 img{
    width: 250px;
}
.spe{
    display: flex;
    gap: 10px;
}
#port5{
    width: 369.656px;
    top: 0px;
    left: 0px;
}
#port5 img{
    width: 510px;
}
#port7{
    top: 0px;
    left: 0px;
}
#port7 img{
    width: 400px;
    height: 682px;
}
#port4{
    width: 100%;
    top: 0px;
    left: 0px;
}
#port4 img{
    width: 400px;
    height: 300px;
}
#port10{
    width: 100%;
    top: 0px;
    left: 0px;
}
#port10 {
    width: 200px;
    height: 400px;
}
#port11{
    width: 100%;
}
#port11 {
    width: 195px;
    height: 400px;
}
#port6{
    top: 0px;
    left: 0px;
}


.trait{
    width: 60px;
    padding: 5px;
    height: 3px;
    background-color: #FFAD01;
    border: 1px solid #FFAD01;
    border-radius: 5px;
    margin-bottom: 30px;
}
.left h1{
    font-size: 28px;
    color: #333333;
}
.sec2{
    padding: 50px;
}
.sec4{
    padding: 80px;
}
#prof-path{
    color: #999999;
    font-size: 14px;
}
#about{
    color: #333333;
    font-size: 28px;
    font-family: "Poppins", cursive;
}
.div{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 250px;
}
.div4 h1{
    color: #999999;
    font-size: 28px;
}
.div4 p{
    color: #333333;
    font-size: 14px;
}
.text{
    color: #777777;
    font-size: 16px;
}
.gauche{
    margin-bottom: 650px;
}

.gauche p{
   color: #333333;
}
.droite h3{
    color: #ffa600;
    font-size: 16px;
   
}
.sec5{
    background-color: #28023d;
    color: #ffff;
    font-size: 16px;
    line-height: 24px;
    padding:80px;
   
}
#h-work{
    color: #fff;
    font-size: 28px;
}
#p-jobs{
    color: #999999;
    font-size: 14px;
}
.h1{
    color: #fff;
    font-size: 20px;
    font-family: 'Poppins',serif;
}
.droite h2{
   color: #ffa600;
   font-size: 16px;
}
.droite h4{
    color: #999999;
    font-size: 14px;
}
.droite h1{
    color: #fff;
    font-size: 20px;
}
/* .gauche2 h1{
    color: #333333;
    font-size: 28px;
    font-family: 'Poppins', cursive;
} */
#p-ac{
    color: #333333;
    font-size: 14px;
}
ul li{
    list-style-type: circle;
}
.last{
    background-image: url('slider-2-1920x600.jpg.webp');
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    color: #fff;
    padding: 20px;
   position: relative;
    
}
.last img{
    width: 100%;
}
.last-one{
    display: flex;
    justify-content: space-between;
   
    gap: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
   
}
.realisation{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.education{
    padding: 80px;
}
.edu{
    display: flex;
    justify-content: center;
    gap: 180px;
}
.edu h3,h1{
    color:#333333 ;
    font-size: 16px;
}
.edu h1{
    font-size: 20px;
}
.edu p{
    color: #777777;
    font-size: 16px;
}
.separation{
    width: 2px;
    height: 850px;
    background-color: #333333;

}
.trait1{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: #FFAD01;
    position: relative;
    right: 10px;
}
.trait2{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: #FFAD01;
    position: relative;
    top: 200px;
    right: 10px;
   
    
   
    
}
.trait3{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: #FFAD01;
    position: relative;
    top: 400px;
    right: 10px;
}
.trait-1{
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color:rgba(255, 128, 0, 0.8);  
}
.last-one h1{
    color: #fff;
    font-size: 64px;
}
.last-one p{
    color: #fff;
    font-size: 16px;

}


.circle-wrap{
    display: grid;
    grid-template-columns: repeat(1,160px);
    grid-gap: 80px;
    margin-top: 100px;
    margin-left: 50px;
    width: 150px;
    height: 150px;
    background-color:#d9d7da ;
    border-radius: 50%;
    overflow: hidden;
}
.all{
    display: flex;
}
.circle-wrap .circle .mask,
.circle-wrap .circle .fill-1,
.circle-wrap .circle .fill-2,
.circle-wrap .circle .fill-3{
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
}
.circle-wrap .circle .mask{
    clip: rect(0px, 75px, 150px, 0px);
    background-color: #ffa600;
    
}
.mask.full-1,
.circle .fill-1{
    animation: fill-1 ease-in-out 3s;
    transform: rotate(135deg);
}
@keyframes fill-1{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(200deg);}
}

.mask.full-2,
.circle .fill-2{
    animation: fill-2 ease-in-out 3s;
    transform: rotate(250deg);
}
@keyframes fill-2{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(250deg);}
}

.mask.full-3,
.circle .fill-3{
    animation: fill-3 ease-in-out 3s;
    transform: rotate(170deg);
}
@keyframes fill-3{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(170deg);}
}
.mask.full-4,
.circle .fill-4{
    animation: fill-4 ease-in-out 3s;
    transform: rotate(170deg);
}
@keyframes fill-4{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(170deg);}
}
.inside-circle{
    width: 124px;
    height: 124px;
    border-radius: 50%;
    background-color: #fff;
    line-height: 120px;
    position: relative;
    margin-top: 13px;
    margin-left: 13px;
    z-index: 100;
    font-size: 2em;
    font-weight: 700;
    color: #777777;
    text-align: center;
}
.inside-circle h6{
    position: absolute;
    font-size: 12px;
    bottom: 8px;
    right: 0;
    left: 0;
}
.inside-circle h4,h6{
    color: #333333;
}
.footer{
    background-color: #28023d;
    height: 100px; 
   
}
#special{
    color: #333333;
    font-size: 16px;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
   
}

@media screen and  (max-width:1100px) {
    .portfolio-container{
        display: flex;
        flex-wrap: wrap;
    }
  
    .last-one{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
       
    }
    .last{
        height: 400px;
        color: #fff;
        padding: 20px;
       position: relative;
        
    }
    .intro img{
        width: 100%;
    }
    .part{
       flex-wrap: wrap; 
       gap: 0;
    }
     .all{
        display: none;
        overflow: hidden;
    }
    .text{
        width: 400px;
   
    } 
    .sec-one{
        display: flex;
        justify-self: center;
        align-items: center;
        gap: 100px;
    }
 